<footer class="footer">
  <div class="container">
    <p>&copy; Noisemap 2013</p>
    <ul class="footer-links">
      <li><%= link_to "Legal", pages_legal_path %></li>
      <li class="muted">&middot;</li>
      <li><a href="https://github.com/lukaselmer/ethz-db-project/commits/master">Changelog</a></li>
      <li class="muted">&middot;</li>
      <li><a href="https://travis-ci.org/lukaselmer/ethz-db-project">CI</a></li>
      <li class="muted">&middot;</li>
      <li><a href="https://www.systems.ethz.ch/courses/spring2013/data_mod_db">Course page</a></li>
    </ul>
  </div>
</footer>
