<meta charset="utf-8"/>

<meta http-equiv="Pragma" content="cache"/>
<meta name="robots" content="index, follow"/>
<meta http-equiv="Language" content="de"/>
<meta http-equiv="Content-Style-Type" content="text/css"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Noisemap</title>

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
<![endif]-->

<%= csrf_meta_tags %>
